<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tictactoe.css') }}">
    <title>Portfolio</title>
</head>
<body start-player-url="{{ url_for('tic_tac_toe.start_game') }}" place-url="{{ url_for('tic_tac_toe.place') }}">
    <h1>Welcome to Tic tac toe</h1>
    <h2>TicTacToe Game</h2>
    <div id="choose-start-player">
        <span>Select starting player</span>
        <button class="player-choice">X</button>
        <button class="player-choice">O</button>
    </div>
    <p id="instructions"></p>
    <div class="board">
        {% for i in range(9) %}
            <div id="cell{{ i + 1 }}" class="cell"></div>
        {% endfor %}
    </div>
    <a href={{ url_for('main.home') }}>Home</a>

    <script src="{{ url_for('static', filename='js/tictactoe.js') }}"></script>
</body>
</html>
